@tailwind base;
@tailwind components;
@tailwind utilities;

.pixelated {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

@layer base {
    .file-select::file-selector-button {
        @apply bg-stone-700 text-white px-4 py-2 rounded border-none mr-4;
    }
}